<div id="<%= dom_id event %>">
  <div>
    <strong>Issue:</strong>
    <%= event.issue_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= event.user_id %>
  </div>

  <div>
    <strong>Action:</strong>
    <%= event.action %>
  </div>

  <div>
    <strong>From state:</strong>
    <%= event.from_state %>
  </div>

  <div>
    <strong>To state:</strong>
    <%= event.to_state %>
  </div>

  <div>
    <strong>Metadata:</strong>
    <%= event.metadata %>
  </div>

</div>
