<div id="<%= dom_id building %>">
  <div>
    <strong>Name:</strong>
    <%= building.name %>
  </div>

  <div>
    <strong>Code:</strong>
    <%= building.code %>
  </div>

  <div>
    <strong>Latitude:</strong>
    <%= building.latitude %>
  </div>

  <div>
    <strong>Longitude:</strong>
    <%= building.longitude %>
  </div>

</div>
