<div id="<%= dom_id room %>">
  <div>
    <strong>Building:</strong>
    <%= room.building_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= room.name %>
  </div>

  <div>
    <strong>Code:</strong>
    <%= room.code %>
  </div>

  <div>
    <strong>Floor:</strong>
    <%= room.floor %>
  </div>

</div>
